.nutricionista {

  &__titulo {
    margin: 0;
    padding: 1rem;
    text-align: center;
    
  }

  &__lista {
    list-style: none;
    padding-bottom: 1rem;

    li {
      text-align: center;
      font-size: 1rem;
      padding: 1rem;

      &:not(:last-child) {
        border-bottom: .1rem solid #C5C5C5;
      }
    }
  }

  &__cartao {
    @extend .hoverable;
    @extend .card;
  }

}